#divEncabezado{
    display: flex;
    position: relative;
    width: 80%;
    padding-left:  10%;
    padding-right:  10%;
    height: 70px;
    margin: 0px auto;
    padding-bottom: 12px;
    padding-top:  12px;
}

.opcionEncabezado{
    display: flex;
    flex-grow: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.opcionEncabezado:hover{

    color: #D1E3FF;
}

#contenedorLogoHeader{
    max-width: 100px;
}

#logoHeader{
    height: 100%;
}

.contenidoEncabezado{
    background: #313149;
}

body{
    margin: 0;
}

