#divEncabezado{
    display: flex;
    position: relative;
    width: 80%;
    padding-left:  10%;
    padding-right:  10%;
    height: 70px;
    margin: 0px auto;
}

.opcionEncabezado{
    display: flex;
    flex-grow: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#contenedorLogoHeader{
    max-width: 100px;
}

#logoHeader{
    height: 100%;
}