#divEncabezado{
    display: flex;
    position: relative;
    width: 80%;
    height: 70px;
    margin: 0px auto;
    flex-direction: row;
    justify-content:  flex-end;
}

.opcionEncabezado{
    display: flex;
    flex-grow: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    max-width: 25%;
}

#contenedorLogoHeader{
    max-width: 100px;
}

#logoHeader{
    height: 100%;
}

.contenidoEncabezado{
    display:  flex;
    background: #313149;
    padding-left: 10%;
    padding-right: 10%;
    height:  70px;
    padding-bottom: 12px;
    padding-top: 12px;
}

body{
    margin: 0;
}

