/* 
    Created on : 29-ene-2018, 11:49:05
    Author     : alumnoFI
*/

html{
    background-color: #222233;
    color: #AACCFF;
     font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
table {
 /*   border: 1px solid #000;*/
    width: 50%;
}

html{
    background-image: 'url(Obligatorio/imgs/gradient.jpeg)';
}

table th, table td {
    font-family: Arial;
    padding: 3px;
    /* text-align: center; */
}

table th {
    background: #333;
    color: #fff;
}

table td.clave {
    background: #ccc;
}

div.error {
    border: red 2px solid;
    padding: 10px;
    margin: 10px 0;
    color: #300;
    font-weight: bold;
}

form label {
    display: inline-block;
    width: 95px;
}

input.invalido {
    border-color: red;
}


div.error {
    border: red 2px solid;
    padding: 10px;
    margin: 10px 0;
    color: #300;
    font-weight: bold;
    width: 238px;
    margin: 20px auto;
}

div.fila {
    overflow: auto;
    margin: 10px 0;
}

div.fila .col1 {
    width: 50%;
    float: left;
}


#listado-noticias {
    list-style: none;
    padding:  0 0 10px;
    margin: 0;
}

#listado-noticias li {
    list-style: none;
    padding:  0;
    margin: 10px 0 0;
}

#listado-noticias li h2 a {
    text-decoration: none;
    color: #000;
    font-family: Georgia Verdana Arial;
}

ul#paginacion {
    text-decoration: none;
    overflow: auto;
    padding: 0;
    /* margin: 0px auto; */
    text-align:  center;
    display:  inline-block;
}

ul#paginacion li {
    list-style: none;
    display: inline-block;
    margin: 0 13px;
    float: left;
}

.cabezal {
    position: fixed;
    height: 40px;
    background: #666;
    color: #fff;
    top: 0;
    left: 0;
    right: 0;
}

a { color:#AACCFF } /* Globally */

/* Each state */

a{text-decoration: none;}
a:visited { text-decoration: none; color:#AACCFF; }
a:hover { text-decoration: none; color:#D1E3FF; }
a:focus { text-decoration: none; color:#AACCFF; }
a:hover, a:active { text-decoration: none; color:#D1E3FF }
