.tablaPublicaciones{
    width: 100%;
    border-spacing: 0px 12px;
    /* padding: 0 8px 8px 0; */
    /* border: 1px solid orange; */
    /* background-color: lightcyan; */
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}

#filtrarBtn{
    cursor: pointer;
    text-align: right;
    margin-right: 13%;
    display: inline;
    float:  right;
    /* border:  1px; */
    border: 1px solid black;
    padding: 5px 19px 5px 19px;
    /* margin:  0px auto; */
    right: 2px;
}

.imagenPublicacion{
   height: 121px;
}

.columnaFiltro{
    width:  20%;
    /* text-align:  center; */
    float:  left;
}

.filtrosTitulo{
    margin-bottom:  11px;
    margin-left: 1%;
    font-size:  27px;
}

.filtrosContainer{
}

.filtro{
    /* text-align: center; */
    margin-left: 1%;
    margin-bottom: 21px;
}

.filtroTitulo{
    /* overflow:  auto; */
    width: 20%;
    display: inline-block;
    font-size: 17px;
    min-width: 52px;
}

.filtroSelect{
    padding: 4px;
    width: 55%;
}

#filtroPalabras{
    /* padding: 4px; */
    width: 72%;
    padding: 5px 19px 5px 19px;
    margin-right:  13%;
    float:  right;
    margin-bottom: 15px;
}

#filtrarBtn{
    
}

.columnaPublicaciones{
    width: 80%;
    text-align:  center;
    float:  left;
}

.cuerpo{
    text-align:  center;
}

.descripcionMiniatura{
    text-align:  left;
    color:#AACCFF;
}

.tituloMiniatura{
    text-align:  left;
    margin-bottom: 8px;
    font-size: 23px;
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.filaMiniatura{
    /* background: lightblue; */
    /* padding-bottom: 51px; */
    /* border-spacing: 10px; */
    border: 1px solid black;
}

.filaMiniatura:hover {
  background: #313149;
}

.filaMiniatura a {
    text-decoration: none;
    color: #AACCFF;
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.filaMiniatura a:hover {
    color: #D1E3FF;
}

li a{
    text-decoration: none;
    color: #AACCFF;
    padding: 1px;
}

li a:hover{
    background: #313149;
    cursor: pointer;
}